{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ballots list</h1>

    <table>
        <thead>
            <tr>
                <th>Language</th>
                <th>Label</th>
                <th>Description</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ballot in ballots %}
            <tr>
                <td><a href="{{ path('ballot_show', { 'id': ballot.id }) }}">{{ ballot.language }}</a></td>
                <td>{{ ballot.label }}</td>
                <td>{{ ballot.description }}</td>
                <td>{{ ballot.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ballot_show', { 'id': ballot.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ballot_edit', { 'id': ballot.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ballot_new') }}">Create a new ballot</a>
        </li>
    </ul>
{% endblock %}
